@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: '"PingFang TC", Roboto';
  }

  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;
    --primary: 205 50% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 115 35% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 55%;
    --accent: 205 50% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 95%;
    --ring: 205 50% 54%;
    --radius: 0.625rem;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .search-button {
    @apply bg-primary-500 p-1 rounded-lg;
    @apply h-11 w-11;
    @apply flex justify-center items-center;
    @apply -translate-x-1;
  }
}
